header,
main,
footer {
    padding-left: 240px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

a.button-collapse {
  position: relative;
  left: 18px;
  top: 18px;
  width: 48px;
  height: 48px;
  display: block;
}
a.button-collapse .mdi-navigation-menu {
    font-size: 32px;
    /* display: block; */
    width: 32px;
    height: 32px;
    padding: 8px;
}

.head-container{
    padding: 0 !important;
}
.head-container > div{
    background-image: url(../images/bg-1.png);
    background-size: cover;
    height: 160px;
}
.head-container > div > span{
    display: block;
    width: 78px;
    height: 78px;
    border-radius: 500px;
    border: 1px #ccc solid;
    margin: 0 auto;
    position: relative;
    top: 40px;
    overflow: hidden;
}
.head-container > div > span > img{
    width: 100%;
}


#floating-action-button.btn {
    margin: 20px;
    border-radius: 100%;
    padding: 15px;
    font-size: 26px;
    width: 56px;
    height: 56px;
    position: fixed;
    bottom: 8px;
    right: 8px;
}
#floating-action-button h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
.btn.btn-fab i{
    position: relative;
    top: -5px;
}